div {
    margin-left:40%;
    color: blue;
    font-weight: bold;
    padding: 5px;
    margin: 20px;
    font-size: 15px;
  
 }
 .btn{
  background-color: darkgreen;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer
 }
 .btn:hover {
  background-color: lightpink;
 }

 label{
  margin: 5px;
 }
 h5 {
    font-size: x-large;
    color: blue;
}