<form [formGroup]="albumForm" (ngSubmit)="onSubmit()">
  <h5>Album Details</h5>
  <div>
    <label>Title</label>
    <input type="text" placeholder="" formControlName="title">
  </div>
  <div>
    <label>Artist</label>
    <input type="text" placeholder="" formControlName="artist">
  </div>
  <div>
    <label>Date</label>
    <input type="date" placeholder="" formControlName="date">
  </div>
  <div>
    <label>Image URL : (example) : "https://i.scdn.co/image/ab6761610000e5eb0348b5d0382fa856e5b3402a"</label>
    <br>
    <input type="text" placeholder="" formControlName="imageURL">
  </div>
  <hr>
  <h2>Songs</h2>
  <div>
    <label>Song</label>
    <input type="text" placeholder="" formControlName="songName">
  </div>
  <div>
    <label>Duration</label>
    <input type="text" placeholder="" formControlName="songDuration">
  </div>
  <input class="addsongbtn" type="button" (click)="this.addSong()" value="Add song">
  <hr>
  <div>
      <p>Song Count:</p>
      <ul *ngFor="let _song of this.songArray">
          <li>Title : {{_song.title}} - Duration : {{_song.duration}}S | <input type="button" (click)="this.removeSong(_song.title)" value="[remove song]"></li>
      </ul>
  </div>
  <hr>
  <br>
  <span>{{this.status}}</span>
  <br>
  <hr>
  <button class="submitgbtn" type="submit">[Submit album]</button>
  <button class="submitgbtn" type="reset" (click)="this.status=''">[new album]</button>
</form>
<hr>
<a routerLink="/albumcard">back to albums</a>